.final {
    /*width: 1024px;*/
    background: linear-gradient(to right, #00455a, #177c9d);
    color: white;
    
    font-size: 15px;
  }
  
  .contenedorFinal {
    display: flex;
    flex-direction: row;
    font-display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
     /*top  right bottom left */ 
   padding: 10px 20px 10px 20px ;
    align-items: center;
  }
  
  .contenedorFinal a {
    text-decoration: none;
    color: whitesmoke;
  }
  
  .contenedorFinal a:hover {
    text-decoration: underline;
    color: skyblue;
  }
  
  .condimentos-img {
    width: 300px;
    height: 200px;
  }
  
  .redess {
    padding-top: 30px;
    padding-left: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
  }
  
  .espacio {
    width: 60px;
    height: 60px;
  }
  
  .bi-instagram {
    width: 40px;
    height: 40px;
    padding: 6px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #222326;
    color: white;
  }
  nav ul {
    list-style: none;
  }
  .group-elments{
 /*top  right bottom left */ 
 padding: 0px 10px 0px 10px !important ;
 align-items: center;
 text-align: center;
 justify-content: center;
  }

  .bi-instagram:hover {
    color: rgb(128, 0, 79);
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .bi-twitter {
    padding-top: 20px;
    width: 40px;
    height: 40px;
    padding: 6px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #222326;
    color: white;
  }
  
  .bi-twitter:hover {
    color: #1d9bf0;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .bi-facebook {
    width: 40px;
    height: 40px;
    padding: 6px;
    font-size: 28px;
    border-radius: 50%;
    background-color: #222326;
    color: white;
  }
  
  .bi-facebook:hover {
    color: rgb(2, 0, 128);
  }
  
  @media screen and (max-width: 1026px) {
    .contenedorFinal {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  
    .condimentos-img {
      width: 250px;
      height: 170px;
    }
  
    .section1 img {
      height: 150px;
      width: 200px;
      border: 1px solid WHITE;
    }
  }
  
  @media screen and (max-width: 800px) {
    .redess {
      
      justify-content: center;
    }
    .condimentos-img{
      justify-content: center;
      padding: 0%;
    }
    .contenedorFinal {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    .condimentos-img {
      width: 150px;
      height: 100px;
    }
  
    .section1 img {
      height: 100px;
      width: 150px;
      border: 1px solid WHITE;
    }
  }
  