

.modal-css {
   background-image: linear-gradient(to right, #b35656 0%, #7a2828  51%, #ad6060  100%);
  
   text-align: center;
   
   transition: 0.5s;
   background-size: 80% auto;
   color: white;            
   box-shadow: 0 0 20px #090606;
   border-radius: 10px;
   /* arriba | derecha | abajo | izquierda */
/*padding: 25px 0px 25px 0px;*/
   
   


 }
 

 .modal-css:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

.btnsModalinicio{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btnaceptar{
    background-color: #8c2f2f !important;
    color: white !important;
    border-color: white !important;
}
.btnaceptar:hover{
    background-color: #ec4646 !important;
    color: white !important;
    border-color: white !important;
}

.text_label{
    font-size: 19px;
    padding: 0;
    margin: 0;
    margin-top: 15px ;
}

.orden_coloum{
    display: flex;
    justify-content: center;
    flex-direction: column;
     /* arriba | derecha | abajo | izquierda */
    margin-bottom:  15px ;
    
}
.orden_row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 40px 0px 40px;
   
}

.textborder{
    border-color: cadetblue !important;
    margin: 0 80px 0px 80px;
    width:80%!important;
    
    align-items: center !important;
    text-align: center !important;
    
    
}
.textborder2{
    border-color: cadetblue !important;
    margin: 0 80px 0px 80px;
    width:80%!important;
    height: 34px !important;
    align-items: center !important;
    text-align: center !important;
    padding-bottom: 10px;
    
}


@media only screen and (max-width:1020px){
    .orden_coloum .orden_row textborder textborder2 {
        margin: 0 60px 0px 60px;
        width:70%!important;

}


}
@media only screen and (max-width:970px){
    .orden_coloum .orden_row .textborder .textborder2 {
        width: 40% !important;
        justify-content: center;
        margin: 0;
        padding: 0;
        

}
modal{
    width: 60%;
}
}